  *{
      margin: 0;
      padding: 0;
  }
   body {
    width: 100%;
    height: 100vh;
    background-image: url(/slanted-gradient.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  } 




.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border: 1px solid white;
    position: sticky;
    width: 90%;
    margin: auto;
    top: 10px;
    z-index: 2; 
}
.logo h2,.imgtxt{
        font-family: 'The Nautigal', cursive;
        font-weight: 600;
        font-size: 2.5em;
        color: white;
        padding-top: 5px;
}
  
      .logo{
        flex-basis: 30%;
        padding: 5px;
      }
      .logo img{
        display: block;
        width: 50px;
        transform: rotate(360deg);
      }
      @keyframes rotate {
        from{
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to{
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
        
      }

.menubtn{
  display: none;
}

  .navbar {
    flex-basis: 70%;
}
.navbar ul{
      display: flex;
      flex-direction: row; 
      justify-content: flex-end;
      height: fit-content;
      opacity: 1; 
  }
  .navbar ul li {
    list-style: none ;
    padding: 20px 50px;
    transition: 0.5s;
    text-align: center;
}
.navbar ul li a{
      color: rgb(255, 255, 255);
      padding: 5px;
  }
.navbar ul li a i{
    font-size: 20px;
    margin: 0 10px; 
    padding:5px;
    transition: 0.5s;
}
.navbar ul li a:hover i{
    background-color: white;
    color: #000;
    border-radius: 100%;
    transform: rotate(360deg);
}



a{
    color: white;
    text-decoration: none;
}
.active{
  background-color: rgb(253, 0, 0);
  border-bottom: 2px solid #830000;
  pointer-events: none;
}

  .social {
    position: fixed;
    top: 120px;
  }
  .social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
  }
  .social ul li {
    display: block;
    margin: 5px ; 
    background: rgba(0, 0, 0, 0.36);
    width:300px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    /* background: rgba(255, 255, 255, 0.4); */
  }
  .twt:hover{
      background: #00acee;
  }
  .fa:hover{
      background: #3b5998;
  }
  .insta:hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .linkin:hover{
      background: #0e76a8;
  }
  .git:hover{
      background: #000;
  }
  .social ul li:hover a {
    color: rgb(255, 255, 255);
    
  }
  .social ul li:hover i {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .social ul li i {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

.profile{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
}

  .intro{
      /* border: 2px solid white; */
      color: black;
      width: 50%;
  }
  .intro h1{
      display: inline;
      margin: 10px;
      font-size: 4em;
      background-color: white;
    }
    .intro h2{
        display: inline;
        background-color: white;
        font-size: 3em;
        margin: 10px;
        
    }
    .intro p{
        margin: 10px;
        background-color: #000000;
        color: rgb(255, 255, 255);
        font-size: 1em;
        padding: 8px 10px;
        font-family: 'Merriweather', serif;    
  }
.btnbdy{
    margin: 15px;
}

#button {
  padding: 0.8em 1.8em;
  margin-top: 23px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color:#777;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  font-weight: bold;
  border-style: none;

 }
 
 #button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #ff0000;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 #button:hover::before {
  width: 100%;
 }
 
 #button:hover {
  color: rgb(255, 251, 251);
 }
 
 .image{
   border: 2px solid white;
}
.image img{
      padding: 30px;
      padding-bottom: 0;
      width: 300px;
      background: url(../subtle-prism.svg);
  }
  .imgtxt{
    background-color: white;
    padding: 20px;
    text-align: center;
    color: #000;
  }

  #download{
    position: fixed;
    bottom: 20px;
    right: 43%;
    width: 200px;
    overflow: hidden;
    background:#000;
    font-size: 1.2rem;
    outline: none;
    border: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    transition: 1s;
    color: white;
    border-radius: 10px;
    
  }
  #download span{
    display: block;
    margin-left: 0.5em;
    transition: all 0.3s ease-in-out;
  }
  #download img{
    transition: all 0.3s ease-in-out;
    filter: invert(100%);
  }
  /* #download::before{
    content: '';
    display: inline-flex;
    background-image: url('../downlaod.gif');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
  } */

  /* #download::before{
    content: url("/downlaod.gif");
    display: block;
    zoom: 25%;
  }
   */
   #download:hover{
     cursor: pointer;
    }
    #download:active{      
      transform: scale(1.1);
    }
   #download:hover img {
    transform: translateX(70px)  scale(1.1);
   }
   
  #download:hover span{
    transform: translate(10em);
  }




















@media only screen and (max-width: 1000px) {

    body{
      background-color: #a00;
    }
    
    .profile{
      position: absolute;
      width: 100%;
      top: 30%;
      justify-content: center;
      flex-direction: column-reverse;
    }
    .intro{
      margin-top: 10px;
      width: 80%;
      text-align: center;
  }
  .intro h1{
      font-size: 2em;
    }
    .intro h2{
        font-size: 1.5em;    
    }
    .intro p{
        margin: 10px;
        background-color: #0a0707;
        color: rgb(255, 255, 255);
        font-size: 1em;
        padding: 8px 10px;
        font-family: 'Merriweather', serif;    
  }
.btnbdy{
    margin: 15px;
}
    .social{
      display: none;
    }
    .logo{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .logo svg{
      color: white;
      font-size: 2em;
      margin: 5px;
    }
    .header{
      flex-direction: column;
      height: auto;
      align-items: center;
      justify-content: center;
    }
    .navbar ul{
      display: flex;
      flex-direction: column; 
      height: 0;
      opacity: 0;
      transition: height 1s;
      }
    .navbar ul li{
      text-align: left;
    }  

    .menubtn{
      all: unset;
      width: 40px;
      margin-right: 10px;
    }
    .menubtn:hover{
      cursor: pointer;
    }
    .menubtn::before{
      all: unset;
    }
    .menubtn::before,
    .menubtn::after,
    .menubtn div{
      background: #fff;
      content: "";
      display: block;
      height: 6px;
      border-radius: 3px;
      margin: 7px 0;
      transition: 0.5s;
    }
    .menubtn:active:before {
      transform: translateY(12px) rotate(135deg);
    }
    .menubtn:active:after {
      transform: translateY(-12px) rotate(-135deg);
    }
    .menubtn:active div {
      transform: scale(0);
    }
    
    #download{
      right: 5%;
      width: 20px;
      height: 60px;
    }
    #download span{
      display: none;
      transition-delay: 1s;
    }
    #download:hover span{
      display: block;
      transform: none;
    }
    
    #download:hover {
      width: 200px;
    }
    #download:hover img{
      transform: none;
    }

  }
 
